*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.about-section{
    background: url(../recursos/img/about.jpg) no-repeat left;
    background-size:185%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 180px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 90px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 1000;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 40px;
    text-align: justify;
    margin-bottom: 50px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}


/*Responsive*/
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .inner-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

 