<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About us</h1>
            <p class="text">
                Contollo Consulting creó una pequeña aplicación que se especializa en el control de información de usuarios y empresas, este sitio se divide en tres áreas. Las primeras pestañas presenta información específica de los clientes y de empresas (y sus productos), cada pestaña muestra dicha información de forma única, de tal forma que cada usuario en su estadía por el sitio encuentre una segmentación adecuada y agradable a su vista, la última sección en un <i>Acerca de</i> la aplicación que se realizó.             
            <div class="skills">
                <span>Excelencia</span>
                <span>Compromiso y Calidad</span>
                <span>Eficacia</span>
            </div>
        </div>
    </div>
</body>
